/* Scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(45, 45, 95, 0.1);
    border-radius: 10px;
}

.custom-scrollbar-light::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.02);
}

.custom-scrollbar-light::-webkit-scrollbar-thumb {
    background: rgba(45, 45, 95, 0.05);
}

/* Animations */
@keyframes shine {
    from {
        transform: translateX(-100%) skewX(-12deg);
    }

    to {
        transform: translateX(200%) skewX(-12deg);
    }
}

.animate-shine {
    animation: shine 2s infinite;
}

/* Specific component overrides */
.order-confirmation-container {
    padding-top: 2rem;
    padding-bottom: 5rem;
}