/* Reset some default browser styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f8fc;  /* Light background */
  color: #333;
  line-height: 1.6;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}


@media (max-width: 768px) {
  .login-form {
    width: 90%;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header button {
    width: 100%;
    margin-top: 10px;
  }

  .home-container h1 {
    font-size: 2rem;
  }
}
